@use 'styles/colors';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form label {
  font-size: x-large;
  margin-right: 1rem;
}

.form input {
  margin-bottom: 1rem;
  border-width: 0;
  font-size: x-large;
  padding-left: 0.5rem;
}

.success,
.error {
  font-size: x-large;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
}

.error {
  color: colors.$red;
}
