.button {
  border-radius: 1rem;
  border-width: 0px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #0af9c9;
  color: black;
  font-size: large;
}

.disabled {
  background-color: gray;
  color: lightgray;
}
