.button {
  border-radius: 1rem;
  border-width: 0px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--secondaryColor);
  color: var(--dark);
  font-size: large;
}

.disabled {
  background-color: gray;
  color: lightgray;
}
