.itemContainer {
  width: 100%;
  flex: 1;
  background-color: Prima;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: var(--darkGray);
  align-items: center;
  padding: 1rem;
}

.empty p {
  font-size: x-large;
  color: black;
}
