html,
body {
  height: 100%;
  margin: 0;
  font-family: Syne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background-color: #035c9f;
  display: flex;
  flex-direction: column;
  color: white;
}

#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  padding: 0 1rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}
